# **EDA**

---

## **Imports**

In [8]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [9]:
fraud = pd.read_csv("../data/fraud.csv", delimiter=";")
fraud

,Call_Type,Charging_Tm,Call_Duration,Telesrvc,Location,A_Num,B_Num,cell_id,IMEI,TAC,DESTINATION,DESTINATION_CAT,MU_Device_type_Segment,MU_HANDSET_MOBILE_TECH
0,6,12/07/2024 11:35,2.0,22,39594,169,24394,939638,13417,139,OTA,ON-NET,Smartphone,4G
1,6,12/07/2024 12:10,2.0,22,36496,148,24394,935429,416,5499,OTA,ON-NET,Smartphone,4G
2,6,12/06/2024 13:15,2.0,22,41347,639,24394,776182,14990,186,OTA,ON-NET,Smartphone,4G
3,6,12/07/2024 12:11,2.0,22,44255,718,24394,781483,150,5485,OTA,ON-NET,Smartphone,4G
4,6,12/07/2024 11:48,2.0,22,32860,321,24394,816029,15573,207,OTA,ON-NET,Smartphone,4G
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19995,6,12/10/2024 11:56,2.0,22,24448,675,24394,752546,9921,20,OTA,ON-NET,Smartphone,4G
19996,6,12/07/2024 10:53,2.0,22,19255,334,24394,764863,16100,226,OTA,ON-NET,Smartphone,4G
19997,7,12/05/2024 15:14,2.0,21,34436,713,24394,850457,1650,5555,OTA,ON-NET,Smartphone,4G
19998,6,12/08/2024 14:44,2.0,22,34230,303,24394,759363,7947,5757,OTA,ON-NET,Smartphone,4G
19999,6,12/09/2024 11:43,2.0,22,42693,183,24394,833534,9013,5786,OTA,ON-NET,Smartphone,4G

In [10]:
non_fraud = pd.read_csv("../data/non-fraud.csv", delimiter=";")
non_fraud

,Call_Type,Charging_Tm,Call_Duration,Telesrvc,LOCATION,A_Num,B_Num,cell_id,IMEI,TAC,DESTINATION_CAT,MU_HANDSET_DUAL_SIM,MU_Device_type_Segment,MU_HANDSET_MOBILE_TECH
0,0,11/29/2024 16:34:34,39.721752,11,320,5047,49133,7481429,11941,4195,OFF-NET,Y,Smartphone,4G
1,1,11/29/2024 17:18:06,104.033160,11,3361,6321,216920,7462699,3125,1290,ON-NET,Y,Basic & Feature Phone,2G
2,7,11/25/2024 12:02:53,2.000000,21,24148,14523,131826,7409857,2781,1231,INTERNATIONAL,Y,Basic & Feature Phone,2G
3,6,11/23/2024 19:10:34,2.000000,22,31517,849,131825,7583371,7133,2885,ON-NET,Y,Smartphone,4G
4,1,11/28/2024 10:23:32,213.740856,11,23842,12593,150786,7491599,9628,3644,ON-NET,Y,Smartphone,4G
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49995,7,11/25/2024 16:44:59,2.000000,21,33703,2129,131827,7410653,7836,3085,OTA-SHORT,Y,Smartphone,4G
49996,6,11/26/2024 18:37:22,2.000000,22,37707,4221,131825,7581836,278,365,ON-NET,Y,Smartphone,4G
49997,1,11/25/2024 20:27:19,26.481168,11,2753,1085,202005,7614475,12631,4378,ON-NET,Y,Smartphone,4G
49998,7,11/23/2024 06:12:15,2.000000,21,38455,14604,131826,7538860,12177,4271,OTA-SHORT,Y,Smartphone,4G
49999,0,11/22/2024 16:30:16,460.583172,11,21290,11034,163938,7468108,9406,3574,ON-NET,Y,Smartphone,4G

## Data Info

In [27]:
fraud.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20000 entries, 0 to 19999
Data columns (total 14 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Call_Type               20000 non-null  int64
 1   Charging_Tm             20000 non-null  object
 2   Call_Duration           20000 non-null  float64
 3   Telesrvc                20000 non-null  int64
 4   Location                20000 non-null  int64
 5   A_Num                   20000 non-null  int64
 6   B_Num                   20000 non-null  int64
 7   cell_id                 20000 non-null  object
 8   IMEI                    20000 non-null  int64
 9   TAC                     20000 non-null  int64
 10  DESTINATION             20000 non-null  object
 11  DESTINATION_CAT         20000 non-null  object
 12  MU_Device_type_Segment  20000 non-null  object
 13  MU_HANDSET_MOBILE_TECH  19776 non-null  object
dtypes: float64(1), int64(7), object(6)
memory usage: 2.1+ MB

In [28]:
non_fraud.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 14 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Call_Type               50000 non-null  int64
 1   Charging_Tm             50000 non-null  object
 2   Call_Duration           50000 non-null  float64
 3   Telesrvc                50000 non-null  int64
 4   LOCATION                50000 non-null  int64
 5   A_Num                   50000 non-null  int64
 6   B_Num                   50000 non-null  int64
 7   cell_id                 50000 non-null  object
 8   IMEI                    50000 non-null  int64
 9   TAC                     50000 non-null  int64
 10  DESTINATION_CAT         50000 non-null  object
 11  MU_HANDSET_DUAL_SIM     49870 non-null  object
 12  MU_Device_type_Segment  50000 non-null  object
 13  MU_HANDSET_MOBILE_TECH  49737 non-null  object
dtypes: float64(1), int64(7), object(6)
memory usage: 5.3+ MB

## Enforcing DataTypes by Replacing `?` by `null` and Changing `cell_id` to `int64`

In [29]:
fraud.replace("?", np.nan, inplace=True)
non_fraud.replace("?", np.nan, inplace=True)

In [38]:
fraud.cell_id = fraud.cell_id.astype("float64")
non_fraud.cell_id = non_fraud.cell_id.astype("float64")